<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista BreweryNews</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <table>
        <th>ID Cerveza</th>
        <th>Nombre Cerveza</th>
        <th>Fecha Lanzamiento</th>
        <th>Codigo Brewery New</th>
        <th>Nombre Brewery New</th>
        <th>Codigo Brewery Old</th>
        <th>Nombre Brewery Old</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
        <tr th:each="beer : ${listaBeer}">
            <td th:text="${beer.id}"></td>
            <td th:text="${beer.nombre}"></td>
            <td th:text="${beer.fechaLanzamiento}"></td>
            <td th:text="${beer.codigoBreweryNew}"></td>
            <td th:text="${beer.breweryNew.nombre}"></td>
            <td th:text="${beer.codigoBreweryOld}"></td>
            <td th:text="${beer.breweryOld.nombre}"></td>
            <!-- <td><a th:href="@{'/modificarBreweryNew/'+${brewery.id}}"><input type="button" value="ACTUALIZAR"></a></td>
            <td><a th:href="@{'/eliminarBreweryNew/'+${brewery.id}}"><input type="button" value="ELMIMINAR"></a></td> -->
        </tr>
    </table>
</body>
</html>